{% extends 'base.html' %}

{% load static %}
{% block header %}
    <link href="{% static "admin/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}

<form action="" method="post" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">  
            <div class="card-body">

                
                <div class="form-group mb-4">
                  
                    <label>{{ form.application_name.label_tag}}</label>
                    <div class="input-group">
                        {{ form.application_name }}
                        
                    </div>
                    <div class="text-danger"> {{ form.application_name.errors }}</div>
                </div>

                 <div class="form-group mb-4">
                  
                    <label>{{ form.data_mode.label_tag}}</label>
                    <div class="input-group">
                        {{ form.data_mode }}
                        
                    </div>
                    <div class="text-danger"> {{ form.data_mode.errors }}</div>
                </div>
             
             

                

                    

                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <div class="form-group mb-4">
                    
                    <label>{{ form.library_list.label_tag }}</label>
                    <div class="input-group">
                        {{ form.library_list }}
                    </div>
                    <div class="text-danger"> {{ form.library_list.errors }}</div>
                </div>
                
                

        
                <br>
            </div>
              
                

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
     
      <input type="submit" value="Add  Libraries" class="btn btn-success float-left">
    </div>
  </div>
</form>
{% endblock %}


{% block footer %}
    <script src="{% static "admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "admin/assets/js/pages/form-advanced.init.js" %}"></script>
    <script src="{% static "admin/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js" %}"></script>
{% endblock %}






