
{% extends 'base.html' %}

{% block content %}
{% load static %}

 <div class="row">
        <div class="col-md-6">
            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    
                    <th>KB ITEMS </th>
                    
                  
                    <th>Actions  </th>
                    
                
                </tr>
                </thead>


                <tbody>
             
                {% for item in data %}
                
                    <tr>
                        <td>{{item.kb_name}}</td>
                    
                        
                       
                            <td>
                              <a data-toggle="modal" data-target="#modal_{{item.name}}" class="btn btn btn-success waves-effect waves-light"><i class="fas fa-eye"></i>Show Affected CVE</a>|
                     
                            </td>
                            {% include './_modal_kb_data.html' %}
                      
                        

                    
                       
                    
                    
                      
                    
                    </tr>
                {% endfor %}
           
          
                </tbody>
            </table>

        </div>
       
      </div>


  {% endblock %}